<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.iseva.app.source">

    <!-- To auto-complete the email text field in the login form with the user's emails -->

    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <permission
        android:name="com.app.iseva.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <!-- Permissions -->

    <uses-permission android:name="com.javapapers.currentlocationinmap.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.example.xb_sushil.iservice.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.example.xb_sushil.iservice.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:name=".Custom_VolleyAppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

    <provider android:authorities="com.facebook.app.FacebookContentProvider1052680501540957"
           android:name="com.facebook.FacebookContentProvider"
           android:exported="true"/>
      <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAkVjHCB1gn34GJdIRHBtWxrHsqjds2gxA"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ff5ab5b922d7a0e193f75e82096ec505dbf2cdfb" />

        <service android:name=".GCMIntentService"/>

        <receiver
            android:name=".GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="com.example.xb_sushil.iservice"/>
            </intent-filter>
        </receiver>

        <!--
        <receiver android:name="com.iseva.app.source.Call_BroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
               <action android:name="android.intent.action.PHONE_STATE" />
                &lt;!&ndash; <category android:name="android.intent.category.LAUNCHER" /> &ndash;&gt;
            </intent-filter>
        </receiver>
        -->
        <!--
        This part is inside the application
        <receiver android:name="com.iseva.app.source.Call_BroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        -->


        <activity
            android:name=".Activity_Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Home"
            android:label="@string/title_activity_activity__home"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.search"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_config"/>
        </activity>
        <activity
            android:name=".Activity_ServiceProvider"
            android:label="@string/title_activity_activity__home"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".Activity_Login_Merchant"
            android:label="@string/title_activity_activity__login__merchant"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Activity_RegisterUser"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Activity_Merchant_register"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Activity_BusinessExtraShow"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".Activity_City_Choose"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".Activity_Profile_Merchant"
            android:label="@string/title_activity_activity__profile__merchant"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".Activity_SubCategory"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".Activity_Add_New_BusinessExtra"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Activity_Send_Notification"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".Activity_Buy_Zone"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".Activity_Settings"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".Activity_ImageViewer"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".Activity_Category_Choose"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Activity_About_Us"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".Activity_BusinessExtraDetails_Show"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".Activity_ServiceProviderDetails_Show"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"/>

        <activity
            android:name=".Activity_MyBusinessExtra"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".Activity_BusinessExtra_Type"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity_AdverImageView"/>
        <activity
            android:name=".Activity_EPaperReader"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity_Job_Resume_Search"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".Activity_Post_Job"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity
            android:name=".Activity_Post_Resume"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity
            android:name=".Activity_List_Resume"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".Activity_Job_Employee_Home"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".Activity_Job_Employee_Employer_Basic"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Activity_List_Jobs"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".Activity_Resume_Details"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".Activity_Login_Jobs_Dep"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".Activity_Job_Details"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".Activity_Job_Employer_Home"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".Activity_About_Developer"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".travel.Activity_Main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".travel.Activity_loading"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".travel.Activity_SelectCityFrom"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".travel.Activity_SelectCityTo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".travel.Activity_Bus_Routes"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".travel.Activity_filter"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".travel.Activity_Select_Seats"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".travel.Activity_Passenger_Details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".travel.Activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".travel.Activity_register"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".travel.Activity_show_booked_ticket"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".travel.Activity_show_detail_booked_ticket"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".travel.Activity_show_detail_cancel_ticket"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".travel.Activity_review_itinerary"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".travel.Activity_ticket_confirmation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".Activity_first"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.search"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_config"/>
        </activity>
        <activity
            android:name=".Activity_location_choose"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity_location_show"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity_privacy_policy"
            android:screenOrientation="portrait"/>
        <activity android:name=".travel.Activity_Parent_Travel">
        </activity>
        <activity android:name=".travel.Activity_Parent_AppCompat">
        </activity>
    </application>

</manifest>